:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(237, 238, 247);
    color: rgb(71, 87, 114);
}

header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(44, 62, 80); /*workshop this*/
}

header h1 {
    background-color: lightblue; /*should be the same color as the header nav ul li*/
    font-weight: bold;
    font-size: 40;
}

header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: lightblue;
    border-bottom: 2px solid lightblue;
    font-size: 18px;
    padding: 10px 15px;
    margin: 5px;
    border-width: 100%
}

.hero {
    background-image: url("./images/chillkoot-trail.jpg");
    background-size: cover;
    background-position: 25% 75%;
    height: 400px;
    position: relative;
}

.hero .subtitle {
    background-color: lightblue;
    position: absolute;
    bottom: 20px;
    right: 80px;
    padding: 5px;
    font-size: 20px;
}

.bio {
    display: flex;
    justify-items: space-between;
    flex-wrap: wrap;
}
.bio img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

footer {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    font-weight: bold;
    font-size: 40;
}

footer a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

footer {
    margin: 7px 0;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer ul li a {
    border-bottom: 2px solid rgb(71, 87, 114);
    font-size: 18px;
    padding: 10px 15px;
    margin: 5px;
    border-width: 100%
}
